<?xml version="1.0" encoding='utf-8' standalone='no'?>
<resources>
<!-- blaze-out/k8-opt/genfiles/java/com/google/android/gmscore/integ/client/admob-impl/res/values-be/strings.xml -->
<eat-comment/>
<string n